{% extends "base.html" %}
{% load static %}

{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Best Price<br>Hardware Store</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            {% if user_id %}
            <li class="nav-item">
                <a class="nav-link" href="/{{ user_id }}">Главная</a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="/">Главная</a>
            </li>
            {% endif %}
            <li class="nav-item">
                <a class="nav-link active" href="#">Каталог</a>
            </li>
        </ul>
    </div>
</nav>
{% endblock %}

{% block content %}
<h1>Сейчас у нас есть следующие категории товаров</h1>

{% if user_id %}
    {% for product in all_products_data %}
        <p><a href="/category_page/{{ user_id }}/{{ product.category.0 }}"><img src="{{ product.images_paths.1 }}" width="500"
        height="300" alt="img"></a></p>
        <p>{{ product.category.1 }}</p>
    {% endfor %}
{% else %}
    {% for product in all_products_data %}
        <p><a href="/category_page/{{ product.category.0 }}"><img src="{{ product.images_paths.1 }}" width="500"
        height="300" alt="img"></a></p>
        <p>{{ product.category.1 }}</p>
    {% endfor %}
{% endif %}

{% endblock %}