{% extends "base.html" %}
{% load static %}

{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Best Price<br>Hardware Store</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            {% if user_id %}
            <li class="nav-item">
                <a class="nav-link" href="/{{ user_id }}">Главная</a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="/">Главная</a>
            </li>
            {% endif %}
            <li class="nav-item">
                <a class="nav-link active" href="#">Каталог</a>
            </li>
        </ul>
    </div>
</nav>
{% endblock %}

{% block content %}
<h1>Сейчас у нас есть следующие категории товаров</h1>

{% if user_id %}
<p><a href="/console_page/{{ user_id }}"><img src="/static/cat_pics/cons_cat.png" width="500"
height="300" alt="img"></a></p>
<p>Игровые консоли</p>

<p><a href="#"><img src="/static/cat_pics/tv_cat.png" width="500"
height="300" alt="img"></a></p>
<p>Телевизоры</p>

<p><a href="#"><img src="/static/cat_pics/laptops_cat.png" width="500"
height="300" alt="img"></a></p>
<p>Ноутбуки</p>

{% else %}
<p><a href="/console_page"><img src="/static/cat_pics/cons_cat.png" width="500"
height="300" alt="img"></a></p>
<p>Игровые консоли</p>

<p><a href="#"><img src="/static/cat_pics/tv_cat.png" width="500"
height="300" alt="img"></a></p>
<p>Телевизоры</p>

<p><a href="#"><img src="/static/cat_pics/laptops_cat.png" width="500"
height="300" alt="img"></a></p>
<p>Ноутбуки</p>
{% endif %}

{% endblock %}