{% extends "base.html" %}
{% load static %}

{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Best Price<br>Hardware Store</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            {% if user_id %}
            <li class="nav-item">
                <a class="nav-link" href="/{{ user_id }}">Главная</a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="/">Главная</a>
            </li>
            {% endif %}
            <li class="nav-item">
                {% for product in product_filter %}
                    <a class="nav-link active" href="#">{{ product.name.1 }}</a>
                {% endfor %}
            </li>
        </ul>
    </div>
</nav>
{% endblock %}

{% block content %}

{% for product in product_filter %}
    <h1>{{ product.name.1 }}</h1>
{% endfor %}

{% if user_id %}
    {% for product in product_filter %}
        <p><img src="{{ product.images_paths.1 }}" width="500"
                            height="300" alt="img"></p>
        <p>{{ product.description }}</p>
        {% if product.ratings %}
            <p>Рейтинг товара: {{ product.ratings.total_rating.average_rating }}</p>
            <p>На основании {{ product.ratings.total_rating.total_reviews }} оценок</p>
        {% endif %}
    {% endfor %}

<form method="post">
    {% csrf_token %}
    <div class="form-group">
        {{ form.product_amount.label }}
        {{ form.product_amount }}
    </div>
    <button type="submit" class="btn btn-primary">В корзину</button>
</form>

{% else %}
    {% for product in product_filter %}
        <p><img src="{{ product.images_paths.1 }}" width="500"
                            height="300" alt="img"></p>
        <p>{{ product.description }}</p>
        {% if product.ratings %}
            <p>Рейтинг товара: {{ product.ratings.total_rating.average_rating }}</p>
            <p>На основании {{ product.ratings.total_rating.total_reviews }} оценок</p>
        {% endif %}
    {% endfor %}
    <a href="/reg_and_auth_page">Войти или зарегистрироваться для оформления заказа</a>
{% endif %}

<br>
{% for product in product_filter %}
    {% if product.ratings %}
        <p>Отзывы пользователей</p>
        {% for k, v in product.ratings.reviews.items %}
            <div>
                {{ v.created_by }}
                <br>
                {{ v.created_at }}
                <br>
                Оценка: {{ v.rating }}
                <br>
               Отзыв: <p style="word-break: break-all;">{{ v.review }}</p>
            </div>
            <br>
        {% endfor %}
    {% endif %}
{% endfor %}

{% endblock %}