{% extends "base.html" %}
{% load static %}

{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Best Price<br>Hardware Store</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/">Главная</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/catalog_page">Каталог</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link active" href="#">Игровые консоли</a>
            </li>
        </ul>
    </div>
</nav>
{% endblock %}

{% block content %}
<h1>В наличии следующие игровые консоли:</h1>
<br>
<p><a href="ps5"><img src="/static/cat_pics/consoles/ps5.png" width="500"
height="300" alt="img"></a></p>
<p>PlayStation 5</p>

{% endblock %}